body{
    background-image: url("../images/footer_lodyas.png");
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.title{
    font-size: 60px;
    color: white;
    font-family: 'Bangers', cursive;
}

.keyboard-button{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}