$color-white: white;

@mixin width-height-setup($width, $height) {
    width: $width;
    height: $height;
}

@mixin container-font-setup($size, $family1, $family2, $color) {
    font: {
        size: $size;
        family: $family1, $family2;
    }
    color: $color;
}

/* Landscape phones and lower*/
@media (max-width: 480px) {

}
/* Portrait tablets/landscape phones and lower*/
@media (min-width: 481px) and (max-width: 767px) {

}
/* /* Portrait+landscape tablets/Desktops and lower */
@media (min-width: 768px) and (max-width: 1199px) {

}
/* Desktop  */
@media (min-width: 1200px) {

}


body{
    @include width-height-setup(100%, 100%);
    @include container-font-setup(150%, 'Oswald', sans-serif, $color-white);
    background-image: url("../images/footer_lodyas.png");
}
.title{
    @include container-font-setup(300%, 'Bangers', cursive, $color-white);
}

.keyboard-button{
    @include width-height-setup(40px, 40px);
    margin-left: 10px;
}

.animated-button{
    border: black solid 0.1em;
    transition-property: background-color, border-color;
    transition-duration: 0.75s;
    transition-timing-function: linear;
}

.animated-button:hover{
    background-color: #0c4d78;
    border-color: white;
}

