$color-white: white;

@mixin width-height-setup($width, $height) {
    width: $width;
    height: $height;
}

@mixin container-font-setup($size, $family1, $family2, $color) {
    font: {
        size: $size;
        family: $family1, $family2;
    }
    color: $color;
}

body{
    @include width-height-setup(100%, 100%);
    @include container-font-setup(24px, 'Oswald', sans-serif, $color-white);
    background-image: url("../images/footer_lodyas.png");
}
.title{
    @include container-font-setup(60px, 'Bangers', cursive, $color-white);
}

.keyboard-button{
    @include width-height-setup(40px, 40px);
    margin-left: 10px;
}