<!DOCTYPE html>
<html ng-app="hangmanApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Hangman</title>
    <link type="text/css" rel="stylesheet" href="bower_components/foundation-sites/dist/foundation.min.css">
</head>
<body ng-controller="hangmanController" ng-init="gameExists = false">
<div class="expanded row">
    <div class="small-12 columns text-center">
        <h1>{{title}}</h1>
    </div>
</div>
<div ng-if="!gameExists" class="expanded row">
    <div class="small-1 columns">
        <label for="name" class="text-right middle">Name:</label>
    </div>
    <div class="small-7 columns">
        <input ng-model="nameInput" type="text" id="name" placeholder="Write your name">
    </div>
    <div class="small-1 columns">
        <label for="b-mode" class="text-right middle">B-mode:</label>
    </div>
    <div class="small-3 columns">
        <div class="switch small">
            <input class="switch-input" id="b-mode" type="checkbox" name="exampleSwitch">
            <label class="switch-paddle" for="b-mode">
                <span class="show-for-sr">Small Portions Only</span>
            </label>
        </div>
    </div>
    <div class="small-12 columns text-center">
        <a ng-click="startGame(nameInput)" class="button">Start Game!</a>
    </div>
</div>
<div ng-if="gameExists">
    <div class="expanded row">
        <div class="small-12 medium-6 large-4 columns text-center">
            <p>Player name: {{player.name}}</p>
        </div>
        <div class="small-12 medium-6 large-4 columns text-center">
            <p>Remaining attempts: {{player.remainingAttempts}}</p>
        </div>
        <div class="small-12 medium-12 large-4 columns text-center">
            <p>Image src = images/hangman{{player.remainingAttempts}}.png</p>
        </div>
    </div>
    <div class="expanded row">
        <div class="small-12 columns text-center">
            <p>{{gameWord.secretWord}}</p>
        </div>
        <div class="small-12 columns text-center">
            <a ng-click="toggleTip()" class="button">Tip!</a>
            <p ng-show="showTip">{{gameWord.tip}}</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<link type="text/css" rel="stylesheet" href="bower_components/foundation-sites/dist/foundation.min.js">
<script type="text/javascript" src="util.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>