<!DOCTYPE html>
<html ng-app="hangmanApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Hangman</title>
    <link type="text/css" rel="stylesheet" href="bower_components/foundation-sites/dist/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body ng-controller="hangmanController" ng-init="gameExists = false">
<div class="expanded row">
    <div class="small-12 columns text-center">
        <h1>{{title}}</h1>
    </div>
</div>
<div ng-if="!gameExists" class="expanded row">
    <div class="small-1 columns">
        <label for="name" class="text-right middle">Name:</label>
    </div>
    <div class="small-11 columns">
        <input ng-model="nameInput" type="text" id="name" placeholder="Write your name">
    </div>
    <div class="small-12 columns text-center">
        <a ng-click="startGame(nameInput)" href="" class="button expanded">Start Game!</a>
    </div>
</div>
<div ng-if="gameExists">
    <div class="expanded row">
        <div class="small-12 medium-6 large-4 columns text-center">
            <p>Player name: {{player.name}}</p>
        </div>
        <div class="small-12 medium-6 large-4 columns text-center">
            <p>Remaining attempts: {{player.remainingAttempts}}</p>
        </div>
        <div class="small-12 medium-12 large-4 columns text-center">
            <p>Image src = images/hangman{{player.remainingAttempts}}.png</p>
        </div>
    </div>
    <div class="expanded row">
        <div class="small-12 columns text-center">
            <p>{{gameWord.secretWord}}</p>
        </div>
    </div>
    <div ng-show="!hasEnded()" class="expanded row">
        <div class="small-12 columns text-center">
            <a ng-repeat="letter in lettersFirstRow" ng-click="guessLetter(letter)"
               ng-class="hasTried(letter)" class="button keyboard-button">{{letter}}</a>
        </div>
        <div class="small-12 columns text-center">
            <a ng-repeat="letter in lettersSecondRow" ng-click="guessLetter(letter)"
               ng-class="hasTried(letter)" class="button keyboard-button">{{letter}}</a>
        </div>
        <div class="small-12 columns text-center">
            <a ng-click="toggleTip()" class="button">Tip!</a>
            <p ng-show="showTip">{{gameWord.tip}}</p>
        </div>
    </div>
    <div ng-show="hasEnded()" class="expanded row">
        <div class="small-12 columns text-center">
            <p>{{endingSentence}}</p>
            <a ng-click="startGame(player.name)" href="" class="button expanded">Start Again!</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/foundation-sites/dist/foundation.min.js"></script>
<script type="text/javascript" src="util.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>